  <div class="row portfolio justify-content-center">
    <div class="col-md-8">
      
    <div class="list overflow-auto">  
    <ul class="list-unstyled" style="width:850px">
      <li class="media mb-5">
        <img class="img" src="assets/form.png" width="300" height="200" alt="1">
        <div class="media-body">
        <h5>準備中</h5>
            こちらのポートフォリオは準備中です。
        </div>
      </li>
      <li class="media mb-5">
        <img class="img" border="1" src="assets/form.png" width="300" height="200" alt="1">
        <div class="media-body">
        <h5>準備中</h5>
            こちらのポートフォリオは準備中です。
        </div>
      </li>
    </ul>
    </div> 
      
    </div>
  </div>
  
    <div class="container-full bottomliner03">
   </div>