  <div class="row skill justify-content-center">
    <div class="col-md-3">
      <img src="assets/me001.png" alt="me image">
      <br/><br/>
      <h6>西坂 麻衣  (Nishisaka Mai)</h6>
      <br/>
      <p class="me">生年月日：１９９２年９月</p>
      <p class="me">年齢：２７歳</p>
      <p class="me">血液型：Ａ型</p>
      <p class="me">趣味：ゲーム、映画鑑賞</p>
    </div>
    
      <div class="col-md-2">
            <div class="card" style="width:90%">  
              <img class="card-img-top" src="assets/htmlcss.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">HTML/CSS</h5>
                <p class="card-text">独学で勉強していました。Tech Academyというオンラインスクールにて、Webアプリケーションコースのカリキュラム内でも少し学びました。</p>
              </div>
            </div>
      </div>
      <div class="col-md-2">
            <div class="card" style="width:90%">
              <img class="card-img-top" src="assets/bootstrap.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text">独学で勉強していました。Tech Academyというオンラインスクールにて、Webアプリケーションコースのカリキュラムで学びました。</p>
              </div>
            </div>
      </div>
      <div class="col-md-2">
            <div class="card" style="width:90%">
              <img class="card-img-top" src="assets/ruby.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ruby</h5>
                <p class="card-text">Tech Academyというオンラインスクールにて、Webアプリケーションコースのカリキュラムで学びました。使用したDBMSはMySQLです。</p>
              </div>
            </div>
      </div>
  </div>

  <div class="container-full bottomliner02">
  </div>